[DEFAULTS]
create_log = false
apply_filter = true
report_all = true
log_prefix = logfile
report_prefix = testlogs_report
files_path = ${HOME}
filepattern = ../*.log
#(files_path).+log/g

[filters]
# supported filters are file creation time (ctime), modification time (mtime), size
# ctime and mtime should be timestamps as per format given in "format" key. If needed modify the format
# size should be in bytes
# type = ctime,mtime,size
type = ctime
# see https://docs.python.org/2/library/time.html for supported time formats
format = %%x    
ctime_after  = 12/14/16 
ctime_before = 
mtime_after  = 
mtime_before =
size_gt = 
size_lt =
#00:00:00

[pathfields]
# Fields in this section will be matched from filepath and output as separate columns
# ColumnName = <search pattern>
Test_Type = (binary|unary)
Config_Type = (\d*_\d)
#Direction = (forward|backward)

[fields]
#This section will be searched in file and output as separate columns
# ColumnName = <search pattern>

[searches]
# Fields in this section will be searched in files and output as "Key" and "Value"
# Line# are also output. Will output all the instances found in the file
# Key = <search pattern>
TestName = Name:\s*(.*)
Device = device:\s*(.*)
Time = Forward\sExecution\sTime\s\(us\)\s:\s*(.*)
